/* *************************** 
  Site - GDR
  ---------------------------
  StyleSheet Index
  $1 - Global Styles
  $2 - Website Structure Styles
  $3 - Header Styles
  $4 - Content Styles
  $5 - Sidebar Styles
  $6 - Footer Styles
   ***************************/

/* *************************** 
   $1 GLOBAL Styles
   ***************************/
* {
	margin: 0;
	padding: 0;
}
a {
	color:#333333;
	text-decoration:none;
}
a:hover {
	color:#333333;
	text-decoration:underline;
}
img {
	border:0;
}
fieldset {
	border:none;
}
ul li {
	list-style:none;
}
.clear {
	clear:both;
	height:0;
	font-size:0;
}
/* *************************** 
   $2 Website Structure Styles
   ***************************/
body {
	text-align:center;
	font:12px Verdana, Century Gothic, sans-serif;
	background:#58595b;
}
#container {
	text-align:left;
	width:926px;
	padding:0 25px 0 23px;
	background:#fff;
	margin:0 auto;
	color:#59595b;
}

/* *************************** 
   $3 Header Styles
   ***************************/
#header {
	position:relative;
	height:167px;
	width:100%;
	z-index:9999;
}
#header h1{
	position:absolute;
	left:431px;
	top:7px;
	width:111px;
	height:105px;
	}
#header h1 a{
	display:block;
	text-indent:-9999px;
	outline-style:none;
	background:url(../images/bg_logo.png) no-repeat;
	width:111px;
	height:105px;
}
h2 {
	color: #000;
}
/* *************************** 
   $4 Content Styles
   ***************************/
#content {
	width:100%;
	overflow:hidden;
	padding:7px 0 13px 0;
    }
.imgbox{
	width:100%;
	overflow:hidden;
	padding:12px 0 170px 0;
	}
.imgbox li{
	float:left;
	margin-right:4px;
	margin-bottom:4px;
	}
.imgbox .marginright{
	margin:0;
	} 
.about_box{
	width:100%;
	overflow:hidden;
	}
.about_box_left{
	float:left;
	padding:4px 0 0 5px;
	width:560px;
	}
.about_box h2{
	font-size:24px;
	font-weight:bold;
	padding:0 0 21px 0;
	}
.about_box p{
	line-height:14px;
	padding:0 0 15px 0;
	}
.about_box_right{
	float:right;
	width:347px;
	}
.register_box{
	width:100%;
	overflow:hidden;
	}
*html .register_box_left{
	height:555px;
	}
.register_box_left{
	float:left;
	width:554px;
	padding:5px 0 0 19px;
	background:#d3d3d3;
	min-height:555px;
	}
.register_box_left  p{
	width:100%;
	float:left;
	padding:0 0 7px 0;
	}
.selectbox{
	width:100%;
	float:left;
	position:relative;
	height:34px;
	}
.register_box_left .noindent{
	width:251px;
	height:27px;
	position:absolute;
	left:170px;
	top:0px;
}.register_box_left select{
	height:28px;
	}
span.select {
	position: absolute;
	width: 211px;
	height: 24px;
	padding:3px 28px 5px 12px;
	background:url(/assets/images/bg_select.png) no-repeat;
	overflow: hidden;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	color:#363636;
}
.register_box_left label{
	float:left;
	width:170px;
	}
.register_box_left input{
	width:244px;
	height:22px;
	border:#4f4f4f 1px solid;
	float:left;
	color:#59595b;
	font-size:16px;
	padding:3px 0 0 5px;
	font-family:Arial, Helvetica, sans-serif;
	}
.register_box_left textarea{
	width:244px;
	height:110px;
	border:#4f4f4f 1px solid;
	float:left;
	color:#59595b;
	font-size:16px;
	padding:3px 0 0 5px;
	font-family:Arial, Helvetica, sans-serif;
	}
.register_box_left .btn_register{
	padding-top:19px;
	padding-bottom:38px;
	}
.register_box_left h5{
	font-size:12px;
	font-weight:normal;
	color:#251d1b;
	}
.register_box_left .btn_register input{
	width:119px;
	height:26px;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	background:#58595b;
	cursor:pointer;
	padding:0;
	margin:0;
	border:0;
	}
.register_box_left h5{
	clear:both;
	}
.register_box_right{
	float:right;
	width:348px;
	}
.register_box h2{
	font-size:24px;
	color:#221c1c;
	padding:0 0 28px 0;
	}
.product_box{
	width:100%;
	overflow:hidden;
	background:#9e9fa1;
	}	
	
.product_box_left_gallery{
	float:left;
	margin-top:28px;
	margin-left:28px;
	margin-bottom:28px;
	margin-right:28px;
	/*display:inline;*/
	width:712px;
	height:534px;
	color:#fff;
	font-size:14px;
	}

a.np {
	color:#fff;
	font-size:14px;
}

.product_box_left{
	float:left;
	width:370px;
	font-size:16px;
	color:#fff;
	}
	
.product_box_left h2{
	font-size:24px;
	color:#fff;
	padding:5px 0 40px 19px;
	}
.menu{
	float:left;
	width:184px;
	height:562px;
	background:#57585c;
	}
.menu li{
	width:100%;
	float:left;
	padding-bottom:2px;
	}
.menu li a{
	padding:8px 5px 8px 19px;
	width:160px;
	float:left;
	color:#fff;
		}
.menu li a:hover,.menu li .selected{		
	background:#9e9fa1;
	color:#fff;
	text-decoration:none;
	}
.submenu{
	float:left;
	margin-left:11px;
	width:165px;
	display:inline;
	padding:28px 0 0 0;
	}
.submenu li{
	float:left;
	width:100%;
	}
.submenu li a{
	padding:9px 5px 9px 13px;
	background:#57585c url(../images/bg_menulistlili.png) -2px bottom repeat-x;
	width:147px;
	float:left;
	color:#fff;
	}
.submenu li a:hover{
	text-decoration:none;
	}
.submenu .last a{
	background:#57585c;
	}
.submenu .cat3 a{
	font-size: 12px;
	}
.product_box_right{
	float:left;
	margin-top:28px;
	margin-left:10px;
	display:inline;
	width:530px;
	height:534px;
	}
.flexcroll_wrapper{
	background:#fff;
	padding-left:9px;
	padding-bottom:18px;
	}
.product_box_right h3{
	text-align:right;
	padding:18px 40px 0 0;
	font-size:18px;
	font-weight:normal;
	color:#211d1c;
	}
.product_box_right h3 span{
	color:#59595b;
	margin-left:9px;
	}
.flexcrollimage{
	width:510px;
	height:449px;
	overflow:none;
	padding-top:18px;
	}
.flexcroll{
	width:510px;
	height:449px;
	overflow:auto;
	}
.flexcroll ul{
	width:490px;
	overflow:hidden;
	}
.flexcroll ul li{
	width:100%;
	border-bottom:#9e9fa1 1px solid;
	padding:25px 0 10px 0;
	}
.pages{
	width:510px;
	padding:0 0 0 16px;
	overflow:hidden;
	text-align:right;
	color:#fff;
	font-size:15px;
	padding:2px 0 0 0;
	}
.pages a,.pages  a:hover{
	color:#fff;
	}
.pages_left{
	float:left;
	}
/* *************************** 
   $5 Sidebar Styles
   ***************************/
#sidebar{
	}
/* *************************** 
   $6 Footer Styles
   ***************************/
#footer {
	
}
